@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent; /* Remove tap highlight */
}

.inputed {
  accent-color: rgb(92, 116, 132);
}
.bigbro {
  accent-color: rgba(221, 135, 77, 0.521);
}

.playimg {
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-color: rgba(187, 170, 170, 0.109);
  backdrop-filter: blur(20px);
  box-shadow: 5px 5px 20px rgba(99, 98, 98, 0.466);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;

  padding: 7px;
  align-self: flex-end;
}
.playimg img {
  height: 95px;
  width: 95px;
  border-radius: 10px;
}
.container0 {
  font-family: "Roboto", serif;
  width: 100vw;
  height: 100vh;
  background-image: url("https://jays3aws.s3.ap-south-1.amazonaws.com/assets/2.jpg");
  /* background-size: 100vw 100vh; */
  background-size: 100%;
}

.nav-bar {
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 50px;
  align-items: center;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.046);
  backdrop-filter: blur(10px);
}
.invisiblediv {
  opacity: 0;
  width: 10vw;
  height: 15vh;
}
.img-title img {
  /* padding-top: 4px; */
  width: 35px;
  height: 35px;
  /* align-items: center; */
  display: block;
}
.span-spotify {
  color: rgb(246, 244, 244);
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
}

.img-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  padding: 2px;
}
.link-bar a {
  display: flex;
  align-items: center;

  color: rgb(219, 215, 215);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;
}

.link-bar {
  display: flex;
  gap: 20px;
}
.link-bar a:hover {
  color: rgb(246, 244, 244);
}
.mid {
  padding: 10px;
  display: flex;
  height: 76.2vh;
  justify-content: space-between;
}
.container1 {
  height: 65vh;
  background-color: rgba(255, 255, 255, 0.109);
  backdrop-filter: blur(20px);
  box-shadow: 1px 1px 50px rgba(97, 97, 97, 0.705);
  width: 50vw;
  border-radius: 15px;
  transition: all 0.3s;
  color: rgba(255, 255, 255, 0.651);
  align-self: center;
}
.container1:hover {
  width: 50.5vw;
  height: 65.5vh;
}
.progressbar {
  display: flex;

  background-color: rgba(43, 42, 42, 0.342);
  min-height: 90px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
  position: fixed;
  gap: 5px;
  padding: 5px;
  bottom: 0;
  width: 100%;
}

#range-bar {
  width: 90%;
  color: rgba(255, 255, 255, 0.153);
  backdrop-filter: blur(10px);
  transition: all 0.3;
  cursor: pointer;
}

.icons img {
  height: 35px;
  width: 35px;
  aspect-ratio: 3/4;
  object-fit: contain;
  display: block;
  cursor: pointer;
  user-select: none;
}

.icons {
  display: flex;
  gap: 20px;
  align-items: center;
  overflow: hidden;
}
.details {
  display: flex;
  gap: 10px;

  font-size: 0.8rem;
  align-self: flex-start;
  margin-left: 100px;
  font-weight: 400;
}
.songitems {
  width: 23vw;
  height: 8vh;
  justify-content: space-between;

  background-color: rgba(0, 0, 0, 0.39);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.4s;
  overflow: hidden;
}
.songitems:hover {
  width: 24vw;
  height: 9vh;
  gap: 10px;
  background-color: rgba(75, 74, 74, 0.671);

  box-shadow: 1px 1px 20px rgba(203, 202, 202, 0.472);
}
.container1 {
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(6, auto);
  display: grid;
  gap: 10px;
}

#song-cover {
  height: 8vh;
  user-select: none;

  object-fit: contain;
  transition: all 0.4s;
}
.songitems:hover #song-cover {
  height: 9vh;
}

#songName {
  user-select: none;
  color: rgb(222, 221, 221);
  transition: color 0.4s;
}
.songitems:hover #songName {
  color: rgb(227, 225, 225);
}
#time-song {
  user-select: none;
  color: rgb(220, 218, 218);
  transition: color 0.4s;
  margin-right: 10px;
}
.songitems:hover #time-song {
  color: rgb(227, 225, 225);
}

#volume {
  cursor: pointer;
  width: 70px;
}
.footer {
  align-self: flex-end;
  color: rgb(195, 193, 193);
  font-size: 0.55rem;
  font-weight: 300;
  user-select: none;
}
#song-name1 {
  user-select: none;
  color: rgb(220, 218, 218);
  transition: color 0.3s;
}
#timestamp {
  color: rgb(220, 218, 218);
  user-select: none;
  transition: color 0.3s;
}
#timestamp:hover {
  color: rgb(227, 225, 225);
}
#song-name1:hover {
  color: rgb(227, 225, 225);
}
#first-img {
  margin-left: 149px;
}

@media (max-width: 1250px) {
  .container1 {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(10, auto);
    width: 95vw;
    height: 75vh;
  }
  .invisiblediv {
    display: none;
  }
  .playimg {
    display: none;
  }

  .mid {
    padding: 0;
    width: 100vw;
    height: 78vh;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .container1:hover {
    width: 95vw;
    height: 75vh;
  }
  .songitems {
    width: 89vw;
    height: 6vh;
  }
  .songitems:hover {
    width: 90vw;
    height: 7vh;
    background-color: rgba(99, 98, 98, 0.671);
    box-shadow: 1px 1px 20px rgba(226, 225, 225, 0.472);
  }
  #song-cover {
    height: 10vh;
  }
  #first-img {
    margin-left: 0px;
  }
}

@media (max-width: 390px) {
  .container1 {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(10, auto);
    width: 95vw;
    height: 75vh;
  }

  .mid {
    width: 100vw;
    height: 78vh;
  }
  .container1:hover {
    width: 95vw;
    height: 75vh;
  }
  .songitems {
    width: 89vw;
    height: 6vh;
  }
  .songitems:hover {
    width: 90vw;
    height: 7vh;
    background-color: rgba(99, 98, 98, 0.671);
    box-shadow: 1px 1px 20px rgba(226, 225, 225, 0.472);
  }
  #song-cover {
    height: 10vh;
  }
  #first-img {
    margin-left: 0px;
  }
  #songName {
    font-size: 14px;
    user-select: none;
    color: rgb(222, 221, 221);
    transition: color 0.4s;
  }
  #time-song {
    font-size: 14px;
    user-select: none;
    color: rgb(220, 218, 218);
    transition: color 0.4s;
    margin-right: 10px;
  }
  .details {
    align-self: center;
    justify-content: center;
    margin-left: 0px;
  }
  #song-name1 {
    user-select: none;
    color: rgb(220, 218, 218);
    transition: color 0.3s;
    align-self: center;
  }
  #timestamp {
    color: rgb(220, 218, 218);
    user-select: none;
    transition: color 0.3s;
    align-self: center;
  }
  #timestamp:hover {
    color: rgb(227, 225, 225);
  }
  #song-name1:hover {
    color: rgb(227, 225, 225);
  }
}
/* heh */

.nav-bar .git {
  margin-left: auto;
  margin-right: 10px;
}
@media (max-width: 460px) {
  .span-spotify {
    font-size: 0.8rem;
    font-weight: bold;
  }
  .link-bar {
    font-size: 0.8rem;
  }
}
